body {
    background-image: url("../images/devops_with_vj.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    color: white; /* optional, for contrast */
    font-family: Arial, sans-serif;
}

